.header {
  font-family: 'Bigelow Rules', serif;
  font-size: 4rem;
  color: var(--color-title-1);

  grid-row: 0 / span 1;
  grid-column: 1 / -1;
}

.heading {
  &-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}