@import "../../App.scss";

.villain {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__img {
    height: 20rem;

    @media only screen and (max-width: $bp-large) {
      height: 15rem;
    }
  }

  &__life {
    color: var(--color-white-1);
    font-size: 5rem;
  }

  &__points {
    display: flex;
    flex-direction: column;
  }

  &__point {
    height: 5rem;
    margin: 1rem;
  }
}